<app-header/>
<main>
  <ul>
    @for (user of users; track user.id) {
<!--      <li *ngFor="let user of users">-->
      <li>
        <app-user (select)="onSelect($event)" [user] = "user" />
      </li>
    }
  </ul>
  @if (selectedUser) {
    <app-tasks [userName]="selectedUser.name"  />
  } @else {
    <p>Select a user to see task</p>
  }
<!--  <app-tasks *ngIF="selectedUser; else elseBlock" [userName]="selectedUser!.name"  />-->
    <!--<ng-template #elseBlock>-->
    <!--  <p>Deprecated</p>-->
    <!--</ng-template>-->
</main>
